html {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h1, h2, h3 {
  font-weight: bold;
}

.header a, .foot a {
  color: white;
  font-size: 18px;
}

p {
  font-size: 14px;
}

.foot p {
  font-size: 11px;
  color: white;
  float: left;
}

.header,.divider {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

.foot {
  background-color: dimgray;
  text-align: left;
}
